@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #e8e8e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8e8e8;
    --foreground: hsl(0, 0%, 13%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}